DEA
.idea/
*.iml
*.ipr
*.iws

#Eclipse
.settings/
.classpath
.project

#compiled sources
target/*
target-eclipse/*
out/*

#logs
*.log

#other
plugin.xml
dependencies.groovy
LocalConfig.groovy
/test-tmp/



